$default-font: ('Arial', sans-serif);
$body-bg-color: #f1f3f6;

// Кнопки
$btn-default-color: #4973ff;
$btn-edit-color: #069c06;
$btn-save-color: #069c06;
$btn-delete-color: #d9534f;
$btn-cancel-color: #9b9b9b;

$btn-default-font: ('Arial', sans-serif);
$btn-text-color: #fff;
$btn-text-size: 16px;
$btn-border-radius: 3px;

// Текстовые поля
$input-text-color: #5e5e5e;
$input-text-size: 16px;
$input-placeholder-color: #555;
$input-bg-color: #fff;
$input-brd-color: #d9d9d9;


/*
// Доп цвета
$importantColor: #d43f3a;
$errorColor: #d43f3a;



// Хедер
$titleColor: #323232;


// Цвет панели уведомлений
$defaultColor: #777;
$infoColor: #4772ff;
$successColor: #059d05;
$warningColor: #eebb2f;
$errorColor: #ff7070;

// Цвет текста сообщения, размер шрифта
$messageColor: #ffffff;
$messageSize: 24px;

*/